<template>
  <v-container>
    <v-container v-for="(lessons, slot) in lessonsGroup" :key="slot">
      <v-row>
        <v-col cols="12">
          <v-card>
            <v-card-title class="justify-center secondary white--text">
              {{timeSlot(lessons[0].timeSlot)}}
            </v-card-title>
          </v-card>
        </v-col>
      </v-row>
      <v-row dense align="start" justify="start">
        <v-col
            v-for="n in lessons" :key="hash(n)"
            cols="12"
            xl="3"
            lg="3"
            md="6"
            sm="12"
        >
          <Lesson :lesson="n"
                  @select="$emit('select', $event)" style="width: 100%"/>
        </v-col>
      </v-row>
    </v-container>
  </v-container>
</template>

<script>
  import Lesson from './lesson/Lesson'
  import _ from "lodash";
  import {DateTime} from "luxon";
  import hash from 'object-hash'

  export default {
    components: {
      Lesson,
    },
    data: () => ({
      lessonsGroup: [],
    }),
    methods: {
      hash: hash,
      getData() {
        let day = _.groupBy(this.$store.getters.currentGroup.lessons,
          i => DateTime.fromISO(i.dates[0]).weekday)[parseInt(this.$route.params.day) + 1];

        this.lessonsGroup = _.groupBy(day, i => i.timeSlot.begin);
      },
      timeSlot(slot) {
        let begin = DateTime.fromISO(slot.begin).setLocale("ru").toFormat('HH:mm');
        let end = DateTime.fromISO(slot.end).setLocale("ru").toFormat('HH:mm');

        let number = slot.number ? `${slot.number} пара, ` : "";

        return `${number}${begin} — ${end}`
      }
    },
    mounted() {
      this.getData()
    },
    watch: {
      '$route': 'getData'
    }
  }
</script>