<template>
  <v-dialog v-model="value" max-width="500px" persistent>
    <v-card>
      <v-card-title class="secondary white--text">
        {{item === undefined ? "Добавить" : "Редактировать"}}
      </v-card-title>
      <v-col>
        <v-text-field outlined v-model="kek"/>
        <v-select outlined v-model="edited.graduateLevel" :items="graduateLevels"/>
        <v-text-field outlined v-model="kek"/>
      </v-col>
      <v-card-actions>
        <v-btn text @click="del()" v-if="item!==undefined">Удалить</v-btn>
        <v-spacer/>
        <v-btn text @click="close()">Отменить</v-btn>
        <v-btn text @click="save()">Добавить</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    data: () => ({
      edited: {
        name: String,
        course: Number,
        graduateLevel: String
      },
      graduateLevels: [
        {text: 'Колледж', value: 'College'},
        {text: 'Бакалавриат', value: 'Bachelor'},
        {text: 'Магистратура', value: 'Master'}
      ]
    }),
    model: {
      prop: 'value',
      event: 'change'
    },
    methods: {
      save() {
        if (this.item !== undefined)
          this.$store.dispatch(this.editEvent, {id: this.item.id, to: {name: this.edited}});
        else
          this.$store.dispatch(this.createEvent, {name: this.edited});
        this.$emit('change', false);
      },
      del() {
        if (this.item)
          this.$store.dispatch(this.deleteEvent, this.item.id);
        this.$emit('change', false);
      },
      close() {
        if (this.item)
          this.edited = this.item.name;
        this.$emit('change', false);
      }
    },
    props: {
      value: Boolean,
      item: Object,
      title: String,

      createEvent: String,
      editEvent: String,
      deleteEvent: String,
    },
    computed: {
      kek: {
        get: function () {
          return this.item ? this.item.name : "";
        },
        set: function (newValue) {
          this.edited = newValue
        }
      }
    }
  }
</script>

