<template>
  <v-btn @click="value = true" icon>
    <v-icon>fa-list</v-icon>
    <ObjectListDialog :items="$store.state.lessons" v-model="value"
                      title="Предметы"
                      edit-event='editLesson'
                      delete-event='deleteLesson'
                      create-event="addLesson"
    />
  </v-btn>
</template>

<script>
  import ObjectListDialog from './ObjectList'

  export default {
    components: {
      ObjectListDialog,
    },
    data: () => ({
      value: false
    })
  };
</script>