<template>
  <v-dialog v-model="value" max-width="600px" scrollable persistent>
    <v-card>
      <v-card-title class="headline grey lighten-2" primary-title>
        {{title}}
        <v-spacer/>
        <v-btn icon @click="close()">
          <v-icon>fa-times</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text>
        <v-list>
          <v-list-item v-for="(item, index) in items" :key="item.name" @click="edit(index)">
            <v-list-item-content>
              <v-list-item-title v-text="item.name"/>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-card-text>
      <v-card-actions>
        <v-spacer/>
        <v-btn text @click="edit(-1)">Добавить</v-btn>
      </v-card-actions>
      <EditObjectDialog :item="editItem" v-model="dialog"
                        :create-event="createEvent"
                        :edit-event="editEvent"
                        :delete-event="deleteEvent"
      />
    </v-card>
  </v-dialog>
</template>

<script>
  import EditObjectDialog from "./ObjectEditor";

  export default {
    data: () => ({
      dialog: false,
      editItem: undefined,
    }),
    props: {
      value: Boolean,
      items: Array,
      title: String,
      editEvent: String,
      deleteEvent: String,
      createEvent: String
    },
    components: {
      EditObjectDialog: EditObjectDialog
    },
    methods: {
      close() {
        window.console.log('kek')
        this.$emit('change', false);
      },
      edit(index) {
        this.editItem = this.items[index];
        this.dialog = true;
      }
    },
    model: {
      prop: 'value',
      event: 'change'
    },
  }
</script>