<template>
  <v-dialog v-model="value" max-width="500px" persistent>
    <v-card>
      <v-card-title class="secondary white--text">
        Добавить расписание
      </v-card-title>
      <v-col>
        Взять за основу:
        <v-radio-group v-model="created" row>
          <v-radio label="пустое расписание" value="new"/>
          <v-radio label="существующее" value="old"/>
        </v-radio-group>
        <v-select v-if="created==='old'"
                  v-model="schedule"
                  required
                  outlined
                  label="расписания"
                  :items="$store.state.currentSchedules"
                  :item-text="get"
                  item-value="id"
        />
      </v-col>
      <v-card-actions>
        <v-spacer/>
        <v-btn text @click="close()">Отменить</v-btn>
        <v-btn text @click="save()">Добавить</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    data: () => ({
      created: null,
      schedule: null,
    }),
    props: {
      value: Boolean,
      group: String,
    },
    model: {
      prop: 'value',
      event: 'change'
    },
    methods: {
      get: val => val.begin + " --- " + val.end,
      save() {
        (this.schedule !== null ?
            this.$store.dispatch('loadGroup', this.schedule)
              .then(() => {
                let newSchedule = this.$store.state.currentGroup;
                newSchedule.kind = 'Draft';
                this.$http.post('/schedules', newSchedule)
              }) :
            this.$http.post('/schedules', {
              group: this.group,
              lessons: [],
              kind: 'Draft'
            })
        ).then(id => this.$router.push({name: 'editor', params: {id: id.data, group: this.group}}));
        this.$emit('change', false);
      },
      close() {
        this.$emit('change', false);
      }
    }
  }
</script>

