<template>
  <v-btn @click="value = true" icon>
    <v-icon>fa-users</v-icon>
    <ObjectListDialog :items="$store.state.teachers"
                      title="Преподователи"
                      edit-event='editTeacher'
                      delete-event='deleteTeacher'
                      create-event="addTeacher"
                      v-model="value"/>
  </v-btn>
</template>

<script>
  import ObjectListDialog from './ObjectList'

  export default {
    components: {
      ObjectListDialog,
    },
    data: () => ({
      value: false
    })
  };
</script>