<template>
  <v-app>
    <v-navigation-drawer app clipped
                         permanent
    >
      <v-list nav>
        <v-subheader>
          Дни недели
        </v-subheader>
        <v-list-item v-for="(day,index) in days" :key="day" :to="{ name: 'day', params: {day:index}}">
          <v-list-item-content>
            <v-list-item-title v-text="day"/>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app clipped-left>
      <v-btn icon :to="{name: 'schedules', params: $route.params.group}">
        <v-icon>fa-arrow-left</v-icon>
      </v-btn>
      <v-divider vertical/>
      <LessonsDialog/>
      <TeachersDialog/>
      <v-divider vertical/>
      <v-btn icon>
        <v-icon>fa-share</v-icon>
      </v-btn>
      <v-spacer/>
      <v-btn outlined @click="editDialog=true">
        {{$route.params.group}}
        <!--        <EditObjectDialog :item="$route.params.group"-->
        <!--                          @modify="onEdit($event)"-->
        <!--                          v-model="editDialog"/>-->
      </v-btn>
      <v-spacer/>
      <UserMenu style="margin-left: 144px"/>
    </v-app-bar>
    <v-content>
      <router-view @select="showDialog($event, false)"/>

      <v-btn fab dark bottom right fixed @click="showDialog(defaultSelected,true)">
        <v-icon>fa-plus</v-icon>
      </v-btn>

      <LessonEditor
          v-model="dialog"
          :lesson="getSelected"
          :id="Number.parseInt($route.params.id)"
          :create="create"
          @schedule="lol"
          max-dialog-width="800px"
      />
    </v-content>
  </v-app>
</template>


<script>
  import LessonsDialog from "./objects/Lessons";
  import TeachersDialog from "./objects/Teachers";
  import LessonEditor from "./LessonEditor";
  import {days, typesProperty} from "../LessonType";
  import UserMenu from "./UserMenu";
  import EditObjectDialog from "./objects/ObjectEditor";

  export default {
    name: 'App',
    components: {
      LessonEditor,
      LessonsDialog,
      TeachersDialog,
      UserMenu,
      EditObjectDialog
    },
    methods: {
      onEdit(event) {
        if (event.type === 'edit') {
          this.$store.dispatch("editGroup", event);
          this.$router.replace({name: 'dashboard', params: {group: this.groups[this.selected]}});
        } else if (event.type === 'delete') {
          this.$store.dispatch("deleteGroup", event);
          this.$router.replace({name: 'groupMenu'});
        }
      },
      fetchData() {
        return this.$store.dispatch('loadGroup', this.$route.params.id)
      },
      lol(obj) {
        this.dialog = false;

        if (obj.success) {
          let schedule = this.$store.getters.currentGroup;

          let method = 'put';

          if (schedule.kind !== 'Draft') {
            method = 'post';
            schedule.kind = 'Draft';
          }

          schedule.lessons.splice(schedule.lessons.indexOf(this.selected), 1, obj.lesson);

          this.$http.request({
            url: '/schedules',
            method: method,
            data: schedule
          });
        }
      },
      showDialog(selected, create) {
        this.selected = selected;
        this.create = create;
        this.dialog = true
      },
      publish() {

      },
    },
    mounted() {
      this.fetchData().then(() => this.$router.push({name: 'day', params: {day: '0'}}));
    },
    watch: {
      '$route': 'fetchData'
    },
    computed: {
      getSelected() {
        return JSON.parse(JSON.stringify(this.selected));
      }
    },
    data: () => ({
      dialog: false,
      editDialog: false,
      selected: {},
      create: false,
      defaultSelected: {
        number: undefined,
        name: undefined,
        dates: [],
        lessonType: undefined,
        subGroup: undefined,
        teacher: undefined,
        auditorium: {
          number: undefined,
          building: undefined
        },
        timeSlot: {
          number: undefined,
          begin: undefined,
          end: undefined
        }
      },
      typesProperty: typesProperty,
      days: days
    })
  }
</script>
