<template>
  <v-app>
    <v-app-bar app clipped-left>
      <Lessons/>
      <Teachers/>
      <v-spacer/>
      <v-toolbar-title>
        Группы
      </v-toolbar-title>
      <v-spacer/>
      <UserMenu style="margin-left: 48px"/>
    </v-app-bar>
    <v-content>
      <v-container fluid>
        <v-row justify="center">
          <v-col cols="3">
            <v-card>
              <v-list>
                <v-list-item-group v-model="selected" @change="select">
                  <v-list-item v-for="item in $store.state.groups" :key="item.name">
                    <v-list-item-content>
                      <v-list-item-title v-text="item.name"/>
                      <v-list-item-subtitle>
                        {{graduateLevel(item.graduateLevel)}}, {{item.course}} курс
                      </v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                </v-list-item-group>
              </v-list>
            </v-card>
          </v-col>
        </v-row>
        <v-btn fab dark bottom right fixed @click="createDialog=true">
          <v-icon>fa-plus</v-icon>
          <GroupEditor
              create-event="addGroup"
              v-model="createDialog"
          />
        </v-btn>
      </v-container>
    </v-content>
  </v-app>
</template>


<script>
  import Lessons from "./objects/Lessons";
  import Teachers from "./objects/Teachers";
  import UserMenu from "./UserMenu";
  import {graduateLevel} from "../LessonType";
  import GroupEditor from "./objects/GroupEditor";

  export default {
    data: () => ({
      selected: undefined,
      createDialog: false
    }),
    components: {
      GroupEditor,
      Lessons,
      Teachers,
      UserMenu,
    },
    methods: {
      graduateLevel: graduateLevel,
      select() {
        if (this.selected !== undefined) {
          this.$router.push({name: 'schedules', params: {group: this.$store.state.groups[this.selected].name}});
          this.selected = undefined
        }
      },
    }
  };
</script>
