<template>
  <v-dialog v-model="dialog" :max-width="maxDialogWidth" persistent>
    <v-card>
      <v-card-title class="headline grey lighten-2" primary-title>
        Редактирование предмета
      </v-card-title>
      <v-form ref="form">
        <v-col style="padding: 12px">
          <v-select required outlined
                    label="предмет"
                    :items="$store.state.lessons"
                    v-model="mLesson.name"
                    item-text="name"/>
          <v-select required outlined
                    label="преподователь"
                    :items="$store.state.teachers"
                    v-model="mLesson.teacher"
                    item-text="name"/>
          <v-row>
            <v-select style="padding-right:12px; padding-left:12px" required outlined label="тип" :items="lessonTypes"
                      v-model="mLesson.lessonType"/>
            <v-text-field style="padding-right:12px" outlined label="подгруппа" v-model="mLesson.subGroup"/>
          </v-row>
          <v-row>
            <v-text-field style="padding-right:12px; padding-left:12px" required outlined label="аудитория"
                          v-model="mLesson.auditorium.number"/>
            <v-select style="padding-right:12px" required outlined label="корпус" :items="building"
                      v-model="mLesson.auditorium.building"/>
          </v-row>
          <v-card outlined style="margin-bottom: 24px">
            <v-radio-group v-model="slotFormat" row style="padding-left: 12px">
              <v-radio label="Использовать номер пары" value="number"/>
              <v-radio label="Использовать время" value="time"/>
            </v-radio-group>
            <v-scroll-y-transition hide-on-leave>
              <v-select v-if="slotFormat==='number'" required outlined label="пара" :items="timeSlots"
                        v-model="slot" style="padding-left: 12px; padding-right:12px"/>
              <v-row v-else align="start" justify="space-around">
                <v-col style="width:300px;flex: 0 1 auto">
                  <v-time-picker :allowed-hours="allowedHours" format="24hr" v-model="start"
                                 :max="end"/>
                </v-col>
                <v-col style="width:300px; flex: 0 1 auto">
                  <v-time-picker :allowed-hours="allowedHours" format="24hr" v-model="end"
                                 :min="start"/>
                </v-col>
              </v-row>
            </v-scroll-y-transition>
          </v-card>

          <v-date-picker v-model="lesson.dates" multiple no-title full-width locale="ru" first-day-of-week="1"
                         :allowed-dates="allowedDates">
          </v-date-picker>
          <v-card-actions>
            <v-btn text color="red" @click="deleteLesson()">
              Удалить
            </v-btn>
            <v-spacer/>
            <v-btn text color="red" @click="close(false)">
              Отменить
            </v-btn>
            <v-btn text @click="save()">
              Сохранить
            </v-btn>
          </v-card-actions>
        </v-col>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
  import {DateTime} from "luxon";
  import {typesProperty, timeSlot} from "../LessonType";

  export default {
    data: () => ({
      dialog: false,
      mLesson: {
        auditorium: {
          number: String,
          building: Number
        },
        timeSlot: {
          number: Number,
          begin: String,
          end: String
        }
      },
      building: [1, 3, 4, 5],
      slotFormat: 'number',
      timeSlots: [1, 2, 3, 4, 5, 6],
      slot: null,
      start: null,
      end: null,
      lessonTypes: typesProperty
    }),
    props: {
      lesson: Object,
      maxDialogWidth: String,
      value: Boolean,
      id: Number,
      create: Boolean
    },
    watch: {
      lesson: function (value) {
        this.mLesson = value;
        this.slot = value.timeSlot.number;
        this.start = value.timeSlot.begin;
        this.end = value.timeSlot.end;
      },
      value: function (value) {
        this.dialog = value
      }
    },
    methods: {
      deleteLesson() {
        this.$http.put(`schedules/${this.id}`, [{
          type: 'Delete',
          id: this.mLesson.id
        }]).then(() => this.$store.dispatch('loadGroup', this.id));
        this.$emit('change', false);
      },
      save() {
        if (this.create)
          this.createLesson();
        else
          this.editLesson();
      },
      editLesson() {
        if(this.slotFormat === 'number'){
          let slot = timeSlot(this.slot, DateTime.fromISO(this.lesson.dates[0]).weekday ===6);
          this.start = slot.begin;
          this.end = slot.end;
        }

        this.mLesson.timeSlot.number = this.slot;
        this.mLesson.timeSlot.begin = this.start;
        this.mLesson.timeSlot.end = this.end;

        this.$http.put(`schedules/${this.id}`, [{
          type: 'Edit',
          id: this.mLesson.id,
          lesson: this.mLesson
        }]).then(() => this.$store.dispatch('loadGroup', this.id));
        this.$emit('change', false);
      },
      createLesson() {
        if(this.slotFormat === 'number'){
          let slot = timeSlot(this.slot, DateTime.fromISO(this.lesson.dates[0]).weekday ===6);
          this.start = slot.begin;
          this.end = slot.end;
        }

        this.mLesson.timeSlot.number = this.slot;
        this.mLesson.timeSlot.begin = this.start;
        this.mLesson.timeSlot.end = this.end;

        this.$http.put(`schedules/${this.id}`, [{
          type: 'Add',
          lesson: this.mLesson
        }]).then(() => this.$store.dispatch('loadGroup', this.id));
        this.$emit('change', false);
      },
      close(ok) {
        this.$emit('schedule', {success: ok, lesson: this.lesson})
      },
      allowedDates(date) {
        if (this.lesson.dates.length === 0)
          return true;
        else
          return DateTime.fromISO(this.lesson.dates[0]).weekday === DateTime.fromISO(date).weekday
      },
      allowedHours: v => v >= 8 && v <= 19,
    },
    model: {
      prop: 'value',
      event: 'change'
    },
  }
</script>
