<template>

  <v-app>
    <v-content>
      <v-container class="fill-height">
        <v-row no-gutters justify="center">
          <v-col cols="3">
            <v-card style="padding: 24px">
              <v-card-title class="justify-center">
                Admin panel
              </v-card-title>
              <v-text-field outlined v-model="login" label="логин"/>
              <v-text-field
                  v-model="password"
                  :append-icon="show ? 'fa-eye' : 'fa-eye-slash'"
                  :rule="rules.required"
                  :type="show ? 'text' : 'password'"
                  name="input-10-1"
                  label="пароль"
                  outlined
                  @click:append="show = !show"
              />
              <v-btn @click="doLogin"
                     block>
                Войти
              </v-btn>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>

</template>


<script>
    export default {
        data() {
            return {
                show: false,
                login: "",
                password: "",
                rules: {
                    required: value => !!value || 'Required.',
                },
            }
        },
        methods: {
            doLogin: function () {
                let login = this.login;
                let password = this.password;
                this.$store.dispatch('login', {login, password})
                    .then(() => this.$router.push({name:'groupMenu'}))
                    .catch(err => window.console.log(err))
            }
        }
    }
</script>