<template>
  <v-app>
    <v-app-bar app clipped-left>
      <v-btn icon :to="{name: 'groupMenu'}">
        <v-icon>fa-arrow-left</v-icon>
      </v-btn>
      <Lessons/>
      <Teachers/>
      <v-spacer/>
      <v-toolbar-title>
        Расписания группы {{$route.params.group}}
      </v-toolbar-title>
      <v-spacer/>
      <UserMenu style="margin-left: 48px"/>
    </v-app-bar>
    <v-content>
      <v-container fluid>
        <v-row justify="center">
          <v-col cols="3">
            <v-card>
              <v-list>
                <v-list-item-group v-model="selected" @change="select">
                  <v-list-item v-for="item in $store.state.currentSchedules" :key="item.id">
                    <v-list-item-content>
                      <v-list-item-title>
                        {{ item.begin }} — {{ item.end }}
                      </v-list-item-title>
                      <v-list-item-subtitle>
                        {{scheduleKind(item.kind)}}
                      </v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                </v-list-item-group>
              </v-list>
            </v-card>
          </v-col>
        </v-row>
        <v-btn fab dark bottom right fixed @click="createDialog=true">
          <v-icon>fa-plus</v-icon>
          <ScheduleEditor
              :group="this.$route.params.group"
              v-model="createDialog"
          />
        </v-btn>
      </v-container>
    </v-content>
  </v-app>
</template>


<script>
  import Lessons from "./objects/Lessons";
  import Teachers from "./objects/Teachers";
  import UserMenu from "./UserMenu";
  import {scheduleKind} from "../LessonType";
  import ScheduleEditor from "./objects/ScheduleEditor";

  export default {
    data: () => ({
      selected: undefined,
      createDialog: false
    }),
    components: {
      ScheduleEditor,
      Lessons,
      Teachers,
      UserMenu,
    },
    methods: {
      scheduleKind: scheduleKind,
      select() {
        if (this.selected !== undefined) {
          let current = this.$store.state.currentSchedules[this.selected];
          this.$router.push({name: 'editor', params: {id: current.id, group: current.group}});
          this.selected = undefined
        }
      },
      fetchData() {
        return this.$store.dispatch('loadSchedules', this.$route.params.group)
      }
    },
    mounted() {
      return this.fetchData()
    },
    watch: {
      '$route': 'fetchData'
    },
  };
</script>
