<template>
  <v-btn icon @click="exit">
    <v-icon>
      fa-sign-out-alt
    </v-icon>
  </v-btn>
</template>

<script>
  export default {
    methods: {
      exit() {
        this.$store.dispatch('logout')
          .then(() => this.$router.replace('/login'))
          .catch(err => window.console.log(err))
      },
    },
  };
</script>
