<template>
  <v-sheet :color="color" elevation="1" tile
           style="text-align: center; font-size: small; width: 100%"
           class="white--text">
    <v-row no-gutters cols="12">
      <v-col cols="3">
        {{type}}
      </v-col>
      <v-col cols="3">
        <span v-if="!!subGroup">подгруппа: {{subGroup}}</span>
      </v-col>
      <v-col cols="6">
        Аудитория: {{auditorium.number}}, корпус: {{auditorium.building}}
      </v-col>
    </v-row>
  </v-sheet>
</template>

<script>
  import {lessonType, typeColor} from '../../../LessonType'

  export default {
    props: {
      'lessonType': String,
      'auditorium': Object,
      'subGroup': Number
    },
    computed: {
      type() {
        return lessonType(this.lessonType)
      },
      color() {
        return typeColor(this.lessonType)
      },
    }
  }
</script>
