<template>
  <v-card>
    <v-card @click="$emit('select', lesson)" flat>
      <v-col>
        <v-row no-gutters>
          <v-col>
            <Header :auditorium="lesson.auditorium" :lesson-type="lesson.lessonType" :sub-group="lesson.subGroup"/>
          </v-col>
        </v-row>
        <v-row no-gutters style="height: 90px; padding-bottom: 12px; align-items: center; font-size: large">
          <v-col>
            {{lesson.name}}
          </v-col>
        </v-row>
        <v-row no-gutters cols="12" style="text-align: left">
          <v-col cols="7">
            {{lesson.teacher}}
          </v-col>
        </v-row>
      </v-col>
    </v-card>
    <v-col>
      <v-chip-group>
        <v-chip v-for="date in lesson.dates" :key="date" outlined label small>
          {{date}}
        </v-chip>
      </v-chip-group>
    </v-col>
  </v-card>
</template>

<script>
  import Header from "./Header";

  export default {
    components: {
      Header
    },
    props: {
      'lesson': Object,
    }
  }
</script>
