<template>
  <router-view/>
</template>

<script>
  export default {
    mounted() {
      this.$store.dispatch('loadLessons');
      this.$store.dispatch('loadTeachers');
      this.$store.dispatch('loadGroups');
    }
  }
</script>
